# LE TUPLE

Le tuple sono elementi ordinati e *immutabili*, cioé non posso cambiarne gli elementi una volta dichiarate.\
A livello sintattico, si comportano molto similmente alle liste, che possono essere viste come la controparte "mutabile" delle tuple.\
Entrambe, inoltre, possono essere vuote o contenere elementi ripetuti.

#### DICHIARAZIONE

In [1]:
# metodo 1
t = (1,3)
print(t)

# metodo 2
t = tuple((1,2,3,4,5))
print(t)

(1, 3)
(1, 2, 3, 4, 5)

In [2]:
# ATTENZIONE per il metodo 2:
# se ho un solo elemento, devo mettere ',' alla fine!

tupla_uno = (1,)
elemento_uno = (1)

print(tupla_uno, type(tupla_uno))
print(elemento_uno, type(elemento_uno))

(1,) <class 'tuple'>
1 <class 'int'>

In [3]:
# slicing e indexing (come per le liste)
print(t[1], t[:3], t[::-1])

2 (1, 2, 3) (5, 4, 3, 2, 1)

###### Posso usare la comprehension per i tuple?

Non si può. I tuple sono immutabili, quindi devo passare tutti gli elemeni per l'inizializzazione nello stesso momento, non posso crearne e aggiungerne uno alla volta.

In [41]:
t_comp = (v for v in range(5))
print('t_comp non è una tupla!\nInfatti è un', type(t_comp))

t_comp non è una tupla!
Infatti è un <class 'generator'>

#### OPERATORE *in*

L'operatore *in* serve per cercare un elemento (ad esempio, una stringa) in un altro (ad esempio, una lista).

In [4]:
t = (3, 16, 25, 49)
l = [v for v in t]
s = ''.join([str(v) for v in t])
print(t, l, s)
print(5 in t, 16 in t, '5' in l, '5' in s, '7' in s)

(3, 16, 25, 49) [3, 16, 25, 49] 3162549
False True False True False

#### "MODIFICARE" UNA TUPLA

Per "modificare" una tupla, posso convertirla in lista (che è un oggetto mutabile) e, dopo aver fatto le modifiche desiderate, riconvertire il tutto in una NUOVA tupla.

In [5]:
tupla = (1, 2, 3, 4, 5)
print(tupla)

l = list(tupla)
l[2] = 'x'
print(l)

(1, 2, 3, 4, 5)
[1, 2, 'x', 4, 5]

In [6]:
tupla_modificata = tuple(l)
print(tupla)
print(tupla_modificata)

(1, 2, 3, 4, 5)
(1, 2, 'x', 4, 5)

# I SET

Un set è una collezione *unchangeable* e *NON ordinata* di elementi che NON si ripetono. Con "unchangeable" si intende che gli elementi singoli in un set non possono essere modificati ma possiamo aggiungere/eliminare degli elementi da un set (tramite metodi specifici).

In [7]:
# gli elementi in un set NON si ripetono
group = {1, 2, 2, 3, 3, 3}
print(group)

{1, 2, 3}

In [8]:
# il set non è "ordinato" --> NO INDICE!
try:
    group[0]
except Exception as e:
    print('operazione non possibile perché:', e)

operazione non possibile perché: 'set' object is not subscriptable

#### LISTA vs SET

Perché preferire un set a una lista?\
I set sono ottimizzati per la ricerca di elementi in essi.

In [9]:
l_grande = list(range(10**5))
s_grande = set(range(10**5))

In [17]:
import time

# prendi il timestamp all'inizio
start = time.time() 

# cerca elemento in lista
9999 in l_grande

# prendi il timestamp 
end = time.time() 

print('ricerca eseguita in', end-start, 's')

ricerca eseguita in 0.0009429454803466797 s

In [19]:
# prendi il timestamp all'inizio
start = time.time() 

# cerca elemento in lista
9999 in s_grande

# prendi il timestamp 
end = time.time() 

print('ricerca eseguita in', end-start, 's')

ricerca eseguita in 0.0 s

***Invece di usare il modulo "time", posso usare la funzione speciale per celle di Jupyter chiamata "%%time".***

In [15]:
%%time
9999 in l_grande

CPU times: total: 0 ns
Wall time: 993 µs

True

In [16]:
%%time
9999 in s_grande

CPU times: total: 0 ns
Wall time: 0 ns

True

#### OPERATORI LOGICI

In [28]:
s1 = {1, 2, 3}
s2 = {3, 4, 5, 6}

In [29]:
# UNIONE (or)
print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [30]:
# INTERSEZIONE (and)
print(s1 & s2)

{3}

In [31]:
# COMPLEMENTARE (xor)
# cioé cercare gli elementi non in comune

print(s1 ^ s2)

{1, 2, 4, 5, 6}

#### SET COMPREHENSION

Così come per le liste, anche per i set è possibile usare fare l'inizializzazione tramite comprehension.

In [33]:
s_quad = {n**2 for n in range(10)}
print(s_quad)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}